<div class="margin-body">

    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-2">
            <div class="col">
                <h3 class="titles-habi">Propietarios</h3>
            </div>
            <div class="col">
                <a class="btn btn-success btn-sm align-right" routerLink="/propietario/crear">Agregar propietario <i class="bi bi-plus-circle"></i></a>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-xs-1 row-cols-sm-1 row-cols-md-1">
            <div class="col-12">
                <p>Aquí encontraras el listado de todos los propietarios en el sistema</p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

            <div class="col" *ngFor="let persona of datos">
                <div class="card card-shadow" style="width: 18rem;">
                    <div class="text-center">
                        <i class="bi bi-person-bounding-box icons-habi"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{persona.nombre}}</h5>
                        <p class="card-text">
                            <span class="bolder-habi">Tel:</span> <a
                                href="tel:{{persona.telefono}}">{{persona.telefono}}</a>
                        </p>
                        <p class="card-text">
                            <span class="bolder-habi">Correo:</span> <a
                                href="mailto:{{persona.correo}}">{{persona.correo}}</a>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="btn-group">
                            <a class="btn btn-primary btn-sm" [routerLink]="['/inmueble/crear/', persona.id]">Crear inmuebles</a>
                            <a class="btn btn-danger btn-sm" (click)="deletePropietario(persona)">Eliminar propietario</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>