/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
:root {
    --habi: rgb(124, 1, 255);
}

.background-habi {
    background-color: var(--habi) !important;
}

.green {
    color: #2dda0e;
    font-weight: bold;
}

.red {
    color: #dc3545;
    font-weight: bold;

}

.margin-body {
    margin: 70px 20px;
}

.icons-habi {
    font-size: 80px;
    color: rgb(67, 62, 71);
}

.card-shadow {
    box-shadow: 1px 2px 7px -1px rgb(0 0 0 / 35%);
    -webkit-box-shadow: 1px 2px 7px -1px rgb(0 0 0 / 35%);
    margin: 10px auto;
}

.titles-habi {
    margin: 10px auto 20px;
}

.hide {
    display: none;
}

.flag {
    width: 200px;
    border: 1px solid black;
}

.dropdown-item {
    cursor: pointer;
}

.form-label {
    font-weight: bold;
}

#message_error {
    display: none;
    color: red;
}

.card-text {
    font-size: 0.80em;
    margin: 5px auto;
}

.bolder-habi {
    font-weight: bold;
    margin-right: 5px;
}

.align-right {
    margin: 10px auto 20px;
    float: right;
}

.align-left {
    margin: 10px auto 20px;
    float: left;
}

.ngx-pagination {
    margin: 0 auto !important;
    border: 1px solid silver;
    padding: 1px;
    border-radius: 4px;
    background-color: #f8f9fa !important;
}

.ngx-pagination .current {
    background-color: #7c01ff !important;
    border-radius: 5px;
}

.form-habi {
    border: 1px solid silver;
    margin: 10px auto;
    padding: 25px;
    font-size: 0.80em !important;
}

.dropdown-habi {
    border: 1px solid silver !important;
}

.errorInput {
    color: red !important;
    border: red 1px solid !important;
}

.form-control, .form-select{
 font-size: 0.90em !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media screen and (max-width: 768px) {
    .align-right {
        float: none;
    }
}